.silade-info{
    width: max-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50px;
    left: 50px;
    
    justify-content: start;
    p{
        width: 35%;
        font-size: 20px;
    }
    .slide-btn{
        height: 50px;
        width: max-content;
        padding: 10px;
        background-color: brown;
        border-radius: 5px;
    }
}
main{
    .slider-section{
        width: 100vw;
        
    }
    #family-section{
        pad: 50px;
        height: 100vh;
       
        #main-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            height: 100vh;
            padding: 20px;
            padding-top: 20px;
            // background-color: black;

            
            .family-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 45vw;
                height: 80vh;             
                gap: 20px;
            
                button{
                    width: 200px;
                    height: 40px;
                    will-change: 100px;
                    border: 1px solid red;
                    color: red;
                }

                #family-img{
                    width: 40vw;
                    height: 300px;
                    background-color: antiquewhite;
                }
               

            }
            #steps-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 45vw;
                height: 80vh;
                gap: 20px;

                .nomer-main-wrapper{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                   
                    .nomer-wrapper{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid black;
                        padding-left: 10px;
                        padding-right: 10px;
                        gap: 10px;
                    }
                }
            }

        }
    }
}
