form{
    width: 34vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 207, 247);
    border-radius: 20px;
    
}
.displayi-eyni-olanlar{
    display: flex;
}
#full-name-icon{
    display: flex;
}
.olcu-ikini-dereceli{
    width: 25vw;
    height: 30px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.eyni-olcu{
    width: 5vw;
    height: 30px;
    font-size: 30px;
    text-align: center;
    background-color: darkgrey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.birinci-dereceli-olcu{
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    color: white;
}
#login-twitter{
    background-color: cornflowerblue;
}
#login-facebook{
    background-color: darkslateblue;
}
.olke-kodu{
    width: 7vw;
    height: 30px;
    padding-left: 5px;
}  
.phone-number{
    width: 18vw;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
}
a{
    margin-left: 10px;
}
#create-account-bg{
    background-color: blue;
}

.relativ-olan-job{
    position: relative;
}
.sona-yrlesdir{
    position: absolute;
    right: 2px;
}
#asagi-icon{
    position: absolute;
    right: 2px;
    bottom:  1px;
}
#yuxari-icon{
    position: absolute;
    right: 2px;
    top: 1px;
}
#relativ-olan-number{
    position: relative ;
    
}
