* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    opacity: .8;
    border-radius: 20px;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px solid #656565;
    font-family: 'Sen', sans-serif;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body{
    background-image: url(/assests/img/b_examhall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    
}