
    

    #dreamProject{
        background-color: palegreen;
        width: 100vw;
                    
         .dreamProjetContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90vw;
            margin: auto;
            div{
                #p{
                    p{

                    }
                }
            }
         }


    }

